@media screen and (max-width: 576px) {
    .container {
        padding-left: 35px;
        padding-right: 25px;
    }
}

/*================ Blog hero ==================*/
.blog_hero {
    padding: 20px 0 60px;
}

.blog_hero .blog_img {
    background-image: url(../assets/img/about/about_hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    position: relative;
}

.blog_hero .blog_text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    padding: 52px 0 60px;
    transform: translate(-50%, -50%);
}

.blog_text .home_blog a::after {
    content: "|";
    color: #aeaeae;
}

/* ==============Start Florist tricks section ============*/
.tricks {
    padding: 40px 0px;
}

.main-btn-white-border {
    color: var(--main_text_color);
    background: white;
    border: 2px solid var(--active_text_color);
    padding: 14px 30px 12px;
}

.tricks .tricks_item {
    box-shadow: 0px 10px 21px rgba(99, 133, 136, 0.16);
    margin-bottom: 50px;
}

.tricks_img img {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.tricks_item .tricks_txt {
    position: relative;
}

.tricks_item .tricks_txt .Trend {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.tricks_item .tricks_txt .Trend span {
    color: #ffffff;
    background: var(--main_text_color);
    text-transform: uppercase;
    padding: 4px 10px 2px;
    transition: all, 0.3s;
}

.tricks_item:hover .tricks_txt .Trend span {
    background-color: var(--active_text_color);
}

.tricks_item .tricks_txt {
    text-align: center;
    padding: 38px 35px 30px;
}

.tricks_item:hover .tricks_txt a {
    text-decoration: underline;
}

@media screen and (max-width: 576px) {
    .tricks .d-flex {
        flex-direction: column;
        gap: 2px;
        text-align: center;
    }

    .main-btn-white-border {
        padding: 10px 25px 8px;
    }

    .tricks .left h2 {
        font-size: 26px;
    }
}

/* ========== End Florist tricks section ===== */

/* ================Start Insta  Section ===================*/
.insta .insta-card {
    position: relative;
    margin: 10px;
    box-shadow: 10px 10px 21px rgba(99, 133, 136, 0.16);

}

.insta-card img {
    width: 100%;
}

.insta .insta-text {
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.insta-card:hover .insta-text {
    visibility: visible;
}

.insta .col-lg-2 {
    width: calc(20% - 20px);
}

.insta .flex_20 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.insta .col-lg-2 {
    width: calc(20% - 20px);
}

@media screen and (max-width: 1200px) {
    .insta .col-lg-2 {
        width: calc(25% - 20px);
    }
}

@media screen and (max-width: 992px) {
    .insta .col-lg-2 {
        width: calc(33.3% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .insta .col-lg-2 {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .insta .col-lg-2 {
        width: calc(100% - 20px);
    }
}

/* ================ End Insta  Section ===================*/

/*=================== Footer section =======================*/

.address {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.address .company_text {
    padding: 50px 0 45px;
}

.address .Newletter_text {
    padding: 50px 65px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;

}

.address .address_text {
    padding: 50px 0 45px 60px;
}


.address .company_text a {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--main_text_color);
}

.address .address_text li {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--main_text_color);
}

.Newletter_text form input {
    border: none;
    border-bottom: 2px solid #111111;
    width: auto;
}

.Newletter_text form button {
    border: none;
    border-bottom: 2px solid #111111;
    width: auto;
    background-color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    gap: 1px;
}

@media only screen and (max-width: 767px) {

    .address .company_text,
    .address .Newletter_text,
    .address .address_text {
        text-align: center;
        margin-bottom: 20px;
        padding: 5px;
    }
}

@media screen and (max-width: 992px) {
    .footer .social {
        text-align: center;
        padding: 5px;
    }
}

@media screen and (max-width: 767px) {
    .footer .copyright {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
}