:root {
    --main_text_color: rgb(17, 17, 17);
    --active_text_color: rgb(244, 93, 150);
    --main_text_font: "Libre Baskerville", serif;
    --paragraph_text_font: "Quicksand", sans-serif;
}

body {
    height: 5000px;
}

/* ============== Navbar ============*/

.main_txt_color {
    color: var(--main_text_color);
}

.active_txt_color {
    color: var(--active_text_color);
}

.navbar .nav-item .active {
    color: var(--active_text_color);
}

.navbar .nav-item a {
    transition: all .5s;
}

.navbar .nav-item a:hover {
    color: var(--active_text_color);
}

.navbar_txt {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    color: var(--main_text_color);
}

/* ============== Hero ============*/

.hero .hero_2 {
    background-image: url(./img/hero/hero_img1.webp);
    background-position: center;
    background-repeat: no-repeat;

}

.hero .hero_1 {
    background-image: url(./img/hero/hero_img2.webp);
    background-position: center;
    background-repeat: no-repeat;

}

.hero .hero_1:hover {
    cursor: pointer;
}

.hero .hero_2:hover {
    cursor: pointer;
}

.hero .carousel-indicators {
    left: -530px;
    bottom: 170px;
}

.carousel-indicators [data-bs-target] {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    border: 1px solid var(--active_text_color)
}

.main-btn {
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #f45d96;
    padding: 14px 30px 12px;
    border-radius: 50px;
    width: auto;
    text-decoration: none;
}

/* ============== marketing  ============*/
.marketing .card_element {
    gap: 35px;
}

.marketing h3 {
    font-family: "Libre Baskerville", serif;
    font-weight: normal;
    line-height: 28.8px;
    font-size: 24px;
}

.marketing .card_element p {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: normal;
    line-height: 27px;
}

.marketing span {
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
}


.marketing .card {
    position: relative;
    --bs-card-border-width: none;
}

.marketing .card .card_txt {
    background: #ffffff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    left: 30px;
    bottom: 50px;
    width: calc(100% - 60px);
}

/* ============== ABOUT  ============*/
.about span {
    color: var(--active_text_color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.text_about h2 {
    color: #111111;
    font-size: 38px;
    line-height: 1.4;
    margin-bottom: 26px;
}

.about .bg-img {
    background-image: url(../assets/img/about/about-video.webp);
    background-repeat: no-repeat;
    height: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.text_about {
    background: #ffffff;
    box-shadow: 0px 10px 21px rgba(99, 134, 137, 0.16);
    padding: 90px 90px 140px 70px;
    margin-left: -95px;
    margin-top: -70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: left;
}

@media screen and (max-width: 992px) {
    .about .bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
 }
}

@media screen and (max-width: 992px) {
    .text_about {
        padding: 30px 30px 50px 30px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

/* ============== End ============*/

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    line-height: 58px;
    font-size: 42px;
}


.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.oswald_txt {
    font-family: "Oswald", sans-serif;
}

.quicksand_txt {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 16px;
}


.ls_2 {
    letter-spacing: 2px;
}

.pt_70 {
    padding-top: 70px;
}
.pb_30 {
    padding-top: 30px;
}

.text_p_16 {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: normal;
    line-height: 27px;
    text-align: justify;
}

.text_p_18 {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: rgb(68, 68, 68);
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
}

.text_justify {
    text-align: justify;
}