/* ============== Navbar ============*/

.main_txt_color {
    color: var(--main_text_color);
}

.active_txt_color {
    color: var(--active_text_color);
}

.navbar .nav-item .active {
    color: var(--active_text_color);
}

.navbar .nav-item a {
    transition: all .5s;
}

.navbar .nav-item a:hover {
    color: var(--active_text_color);
}

.navbar_txt {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    color: var(--main_text_color);
}

/* ============== Hero ============*/

.hero .hero_2 {
    background-image: url(./img/hero/hero_img1.webp);
    background-position: center;
    background-repeat: no-repeat;

}

.hero .hero_1 {
    background-image: url(./img/hero/hero_img2.webp);
    background-position: center;
    background-repeat: no-repeat;

}

.hero .hero_1:hover {
    cursor: pointer;
}

.hero .hero_2:hover {
    cursor: pointer;
}

.hero .carousel-indicators {
    left: -530px;
    bottom: 170px;
}

.carousel-indicators [data-bs-target] {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    border: 1px solid var(--active_text_color)
}

.main-btn {
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #f45d96;
    padding: 10px 15px 8px;
    border-radius: 50px;
    width: auto;
    text-decoration: none;
}

/* ============== marketing  ============*/
.marketing .card_element {
    gap: 35px;
}

.marketing h3 {
    font-family: "Libre Baskerville", serif;
    font-weight: normal;
    line-height: 28.8px;
    font-size: 24px;
}

.marketing .card_element p {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: normal;
    line-height: 27px;
}

.marketing span {
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
}


.marketing .card {
    position: relative;
    --bs-card-border-width: none;
}

.marketing .card .card_txt {
    background: #ffffff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    left: 30px;
    bottom: 50px;
    width: calc(100% - 60px);
}

/* ============== ABOUT  ============*/
.about span {
    color: var(--active_text_color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.text_about h2 {
    color: #111111;
    font-size: 38px;
    line-height: 1.4;
    margin-bottom: 26px;
}

.about .bg-img {
    background-image: url(../assets/img/about/about-video.webp);
    background-repeat: no-repeat;
    height: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.text_about {
    background: #ffffff;
    box-shadow: 0px 10px 21px rgba(99, 134, 137, 0.16);
    padding: 90px 90px 140px 70px;
    margin-left: -95px;
    margin-top: -70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: left;
}

@media screen and (max-width: 992px) {
    .about .bg-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (max-width: 992px) {
    .text_about {
        padding: 30px 30px 50px 30px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {
    .about .section-title {
        text-align: center;
    }
}


/* ============== New Arrivals ============*/

.flex_20 {
    display: flex;
    flex: 0 0 20%;
}

@media screen and (max-width: 1400px) {
    .flex_20 {
        flex: 0 0 25%;
    }
}

@media screen and (max-width: 1200px) {
    .flex_20 {
        flex: 0 0 33%;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .flex_20 {
        flex: 0 0 50%;
    }
}

@media screen and (max-width: 576px) {
    .flex_20 {
        flex: 0 0 100%;
        justify-content: center;
    }

}


.arrivals .nav-tabs {
    --bs-nav-tabs-border-width: none;
}

.arrivals .nav {
    --bs-nav-link-color: var(--main_text_color);
}

.arrivals .card {
    border: none;
    position: relative;
}

.arrivals .nav .active {
    border: 2px solid var(--active_text_color);
}

.arrivals .card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px 0;
}

.arrivals .card .icons {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    visibility: hidden;
}

.card:hover .icons {
    visibility: visible;
}

.arrivals .card .icons svg {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.arrivals .card .icons svg:hover {
    transform: scale(1.3);
    background-color: var(--active_text_color);
}

.card_text .price {
    visibility: visible;
}

.card_text .price {
    visibility: visible;
}

.card:hover .card_text .price {
    visibility: hidden;
}

.card_text .add_cart {
    visibility: hidden;
    padding-top: 30px;
}

.card:hover .card_text .add_cart {
    visibility: visible;
    position: absolute;
    color: var(--active_text_color);
}

/* ============== Custom flower sectio ============*/

.Custom_flower {
    background-image: url(../assets/img/public/call-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}

.Custom_flower .Custom_text {
    padding: 100px 0px;
}

.Custom_flower .Custom_text span {
    color: white;
    letter-spacing: 4px;
}

.Custom_flower .Custom_text h2 {
    font-size: 60px;
    line-height: 1.4;
    color: white;
    font-family: 'Hello Santtiny', 'Brush Script MT';
}

.main-btn-white {
    color: var(--active_text_color);
    background: white;
}

@media screen and (max-width: 1200px) {
    .Custom_flower .Custom_text h2 {
        font-size: 40px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 768px) {
    .Custom_flower .col-6 {
        flex: 0 0 auto;
        width: 100%;
    }

    .Custom_flower .Custom_text {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .Custom_flower .main-btn {
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 1px;
        padding: 8px 12px 6px;
        border-radius: 50px;
        width: auto;
        text-decoration: none;
    }

    .Custom_flower .Custom_text {
        text-align: center;
    }
}

/* ============== Florist tricks section ============*/
.tricks {
    padding: 100px 0px;
}

.main-btn-white-border {
    color: var(--main_text_color);
    background: white;
    border: 2px solid var(--active_text_color);
    padding: 14px 30px 12px;
}

.tricks .tricks_item {
    box-shadow: 0px 10px 21px rgba(99, 133, 136, 0.16);
    margin-bottom: 50px;
}

.tricks_img img {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.tricks_item .tricks_txt {
    position: relative;
}

.tricks_item .tricks_txt .Trend {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.tricks_item .tricks_txt .Trend span {
    color: #ffffff;
    background: var(--main_text_color);
    text-transform: uppercase;
    padding: 4px 10px 2px;
    transition: all, 0.3s;
}

.tricks_item:hover .tricks_txt .Trend span {
    background-color: var(--active_text_color);
}

.tricks_item .tricks_txt {
    text-align: center;
    padding: 38px 35px 30px;
}

.tricks_item:hover .tricks_txt a {
    text-decoration: underline;
}

@media screen and (max-width: 576px) {
    .tricks .d-flex {
        flex-direction: column;
        gap: 2px;
        text-align: center;
    }

    .main-btn-white-border {
        padding: 10px 25px 8px;
    }

    .tricks .left h2 {
        font-size: 26px;
    }
}

/* ============== Testimonial section ============*/
.testimonial {
    background: #f7f5fa;
    padding-bottom: 75px;
    padding-top: 100px;
    position: relative;
    z-index: 0;
}

.testimonial:before {
    position: absolute;
    left: -440px;
    top: 0;
    height: 842px;
    width: 802px;
    background-image: url(../assets/img/Testimonial/left-bg.webp);
    content: "";
    z-index: -1;
}

.testimonial .item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.testimonial .quote {
    max-width: auto;
}

.testimonial:after {
    position: absolute;
    right: 0;
    bottom: -48px;
    height: 688px;
    width: 488px;
    background-image: url(../assets/img/Testimonial/right-bg.webp);
    z-index: -1;
    content: "";
    /*Mustafa: 
In CSS, pseudo-elements like ::before and ::after create a virtual element inside your HTML —
but they don’t exist unless you explicitly give them some content.
The content property tells the browser:
“Hey, actually create this pseudo-element in the DOM so I can style it.”*/
}

@media screen and (max-width: 992px) {
    .testimonial:before {
        display: none;
    }

    .testimonial:after {
        display: none;
    }

    .col-8 {
        width: 100%;
    }

    .container {
        width: 100%;
        padding: 0;
    }
}

/* ================ Insta  Section ===================*/
.insta .insta-card {
    position: relative;
    margin: 10px;
    box-shadow: 10px 10px 21px rgba(99, 133, 136, 0.16);

}

.insta-card img {
    width: 100%;
}

.insta .insta-text {
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.insta-card:hover .insta-text {
    visibility: visible;
}

.insta .col-lg-2 {
    width: calc(20% - 20px);
}

.insta .flex_20 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.insta .col-lg-2 {
    width: calc(20% - 20px);
}

@media screen and (max-width: 1200px) {
    .insta .col-lg-2 {
        width: calc(25% - 20px);
    }
}

@media screen and (max-width: 992px) {
    .insta .col-lg-2 {
        width: calc(33.3% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .insta .col-lg-2 {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .insta .col-lg-2 {
        width: calc(100% - 20px);
    }
}

/* ================ End Insta  Section ===================*/

/*=================== Footer section =======================*/

.address{
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.address .company_text{
    padding: 50px 0 45px;
}

.address .Newletter_text{
    padding: 50px 65px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;

}

.address .address_text{
    padding: 50px 0 45px 60px;
}


.address .company_text a{
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--main_text_color); 
}
.address .address_text li{
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--main_text_color); 
}

.Newletter_text form input {
    border: none;
    border-bottom: 2px solid #111111;
    width: auto;
}

.Newletter_text form button {
    border: none;
    border-bottom: 2px solid #111111;
    width: auto;
    background-color: white;
}

.copyright{
    display: flex;
    justify-content: center;
    gap: 1px;
}
@media only screen and (max-width: 767px) {
    .address .company_text, .address .Newletter_text, .address .address_text{
        text-align: center;
        margin-bottom: 20px;
        padding: 5px;
    }
}

@media screen and (max-width: 992px) {
.footer .social {
    text-align: center;
    padding: 5px;
}
}

@media screen and (max-width: 767px) {
.footer .copyright{
    flex-direction: column;
    text-align: center;
    gap: 0;
}
}
